go 1.24.0

use (
	.
	./examples/cgroup-connect
	./examples/fentry-open
	./examples/kfunc-task
	./examples/kprobe-openat
	./examples/lsm-file-open
	./examples/percpu-counter
	./examples/rawtp-sched
	./examples/tc-filter
	./examples/tracepoint-connect
	./examples/xdp-filter
)
